body {
    max-width: 940px;
    margin: 0 auto;
}

#profile {
    object-fit: cover;
    border-radius: 50%;
    width: 200px;
}

.contacts {
    display: flex;
    list-style: square inside;
    justify-content: center;
}

.contacts li {
    margin-right: 20px;
}